
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title> 

</head>
<body style="background-color: burlywood;">
    <h1 ><b>Welcome to the Home Page!</b></h1>
    
    {% if user.is_authenticated %}
        <p>Hello, {{ user.username }}!</p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <input type="submit" value="Logout"/>
        </form>
    {% else %}
        <p>You are not logged in.</p>
        Add a link to the login page or any other login mechanism 
        <a href="{% url 'login' %}">Login</a>
    {% endif %}
</body>
</html> 